<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopping.toy.dao.orderMapper">

    <insert id="insert" parameterType="OrderDto">
        INSERT INTO orders (order_id, member_id, orderer_name, orderer_email, orderer_phone,
        recipient_name, recipient_address, recipient_phone, order_message, total_price, order_status)
        VALUES (#{order_id}, #{member_id}, #{orderer_name}, #{orderer_email}, #{orderer_phone},
        #{recipient_name}, #{recipient_address}, #{recipient_phone}, #{order_message},#{total_price}, #{order_status})
    </insert>

    <insert id="insertOrderItem" parameterType="OrderItemDto">
        INSERT INTO order_item (order_id, item_id, order_price, count)
        VALUES (#{order_id}, #{item_id}, #{order_price}, #{count})
    </insert>

    <select id="getOrderItemList" parameterType="int" resultType="OrderItemListDto">
        SELECT oi.order_item_id, oi.item_id, oi.order_id, i.item_nm, oi.order_price, oi.count, img.imgUrl AS rep_img_url
        FROM order_item AS oi
        JOIN item AS i ON oi.item_id = i.item_id
        JOIN item_img AS img ON oi.item_id = img.item_id AND img.repImgYn = 'Y'
        WHERE order_id=#{order_id}
    </select>

    <!-- 사용자의 전체 주문 조회 -->
    <select id="getOrderAll" parameterType="String" resultType="OrderDto">
        SELECT o.* FROM orders AS o
        JOIN member
        AS m ON o.member_id = m.member_id
        WHERE id=#{id}
        ORDER BY o.order_date DESC;
    </select>

    <!-- 단일 주문 조회 -->
    <select id="getOrder" parameterType="int" resultType="OrderDto">
        SELECT * FROM orders WHERE order_id=#{order_id} ORDER BY order_date DESC;
    </select>

    <!-- 주문 상품 조회 -->
    <select id="getOrderItems" parameterType="int" resultType="OrderItemDto">
        SELECT * FROM order_item WHERE order_id=#{order_id};
    </select>


</mapper>