<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopping.toy.dao.wishMapper">

    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="member_id">
        INSERT INTO wish
        (member_id, item_id)
        VALUES
        (#{member_id}, #{item_id})
    </insert>

    <select id="select" parameterType="map" resultType="WishDto">
        SELECT *
        FROM wish
        WHERE member_id = #{member_id} AND item_id = #{item_id}
    </select>

    <select id="selectList" parameterType="int" resultType="WishDto">
        SELECT * FROM wish WHERE member_id = #{member_id}
    </select>

    <select id="selectAll" resultType="WishDto">
        SELECT * FROM wish
    </select>

    <select id="count" parameterType="int" resultType="int">
        SELECT count(*) FROM wish WHERE member_id = #{member_id}
    </select>

    <select id="selectWishList" parameterType="int" resultType="WishListDto">
        SELECT
        w.wish_id, i.item_id, i.item_nm, i.price, ii.imgUrl AS rep_img_url
        FROM wish w
        JOIN
        item i ON w.item_id = i.item_id
        LEFT JOIN
        item_img ii ON i.item_id = ii.item_id AND ii.repImgYn = 'y'
        WHERE
        member_id = #{member_id};
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM wish WHERE wish_id = #{wish_id}
    </delete>

</mapper>